* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}

h1 {
    color: purple;
    text-align: center;
}

ul li {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    background-color: yellow;
    color: purple;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 80%;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(0, 255, 255); */
    padding: 20px
}

.p-80 {
    width: 80%;
    margin: 0 auto;
    margin-top: 220px;
}

body {
    background-image: url(../img/lakers.png);
}

#genera-mail {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

#list-mail {
    width: 100%;
    margin: 0 auto;
}

.btn {
    background-color: purple;
    color: yellow;
}

.btn:hover {
    color: yellow;
}

.logo-lakers {
    background-image: url(../img/lakers.png);
    width: 50px;
    height: 50px;
}